header {
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    padding-bottom: 70px;
}

header, footer {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.left-low {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}


.left-low p {
    max-width: 350px;
    margin: 0;
    color: #e5e7eb;
    font-size: 18px;
    min-width: 300px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.right ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.placeholder {
    height: 130px;
    width: 500px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.left-low button {
    background-color: #3882f6;
    padding: 3px 15px;
    border-radius: 6px;
    margin-top: 5px;
    color: white;
    border: none;
    font-weight: bold;
}

/* end of header */

.first-section {
    min-height: 300px;
}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.illustration {
    border: 2px solid blue;
    height: 120px;
    width: 120px;
    border-radius: 9px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

article {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

article p {
    width: 150px;
    text-align: center;
    flex-wrap: wrap;
}
/* end of first section */


.second-section {
    min-height:250px;
    background-color: #e5e7eb;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.quote {
    width: 600px;
    color: #1f2937;
    font-style:italic;
    font-size: 36px;
}

.author {
    margin-left: 400px;
    margin-top: -40px;
    font-weight: bold;
}

/* end of second section */

.third-section {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    background-color: #3882f6;
    width: 60%;
    padding: 15px 50px;
    box-sizing: border-box;
    border-radius: 9px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-time {
    color: #f9faf8;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: -15px;
}

.signup {
    color: #e5e7eb;
    font-size: 15px;
}

.call button {
    padding: 3px 15px;
    border-radius: 5px;
    background-color:#3882f6;
    color: #f9faf8;
    font-weight: bold;
    border: 1px solid white;
}

/* end of third section */
